<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="96528cc4-6a6d-4f9f-9ee6-899cd4360125"
            Publisher="CN=Ivan"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>NewsFactory.UI</DisplayName>
    <PublisherDisplayName>Ivan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="NewsFactory.UI.App">
        <VisualElements
            DisplayName="NewsFactory.UI"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="NewsFactory.UI"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>